body {
	background: linear-gradient(131deg, #59e1be, #566ce4, #a800f5, #cc47a4);
  background-size: 800% 800%;
	animation: gradient 30s ease infinite, fadein 2s;
	height: 100vh;
}
@keyframes gradient {
	0%{background-position:10% 0%}
	    50%{background-position:91% 100%}
	    100%{background-position:10% 0%}
	}
}

@keyframes fadein {
 0% {
 opacity:0;
 }
 50%{
 opacity:0.5;
 }
 100% {
 opacity:1;
 }
}

.sansserif {
font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 300%;
	color: #ffffff
}

p {
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 80%;
	color: #ffffff

}
