*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-y: hidden
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background: rgb(43,40,46);
  background: linear-gradient(90deg, rgba(43,40,46,1) 0%, rgba(37,36,41,1) 21%, rgba(48,62,58,1) 100%);
  overflow: hidden;
}

.no-transition * {
  transition: none !important;
}

main {
  width: 100%;
  height: 100vh;
  background-image: url("https://cdn.duwub.dev/r/Website_Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  overflow: hidden;
  transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
  z-index: 100;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(25, 20, 31);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 1s linear;
  pointer-events: none;
}

button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

h1 {
  font-size: 4em;
  line-height: 1.1;
  z-index:2;
}

h2 {
  font-size: 2em;
  line-height: 1.2;
  z-index:2;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

::selection {
  background-color: rgb(175, 13, 37);
}

section {
  width: 100%;
  height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section h1 {
  color: #fff;
  font-size: calc(4rem + 12vw);
  mix-blend-mode: overlay;
  animation: fadeIn 1s ease-in-out;
  z-index: 999;
}

section h2 {
  color: #fff;
  font-size: calc(1rem + 1.8vw);
  mix-blend-mode: exclusion;
  animation: fadeIn 3s ease-in-out;
  z-index: 999;
}


#duwub{
  transition: 0.5s;
  background-color: #ffffff00;
  color: rgb(255, 255, 255);
}

#duwub:hover{
  background-color: #535bf2;
  color: black;
}

#description{
  transition: 0.5s;
  background-color: #ffffff00;
  color: rgb(255, 255, 255);
}

#description:hover{
  background-color: #ffffff;
  color: black;
}


.about h1 {
  mix-blend-mode: normal;
  font-size: calc(2rem + 3vw);
  color: #ffffffa2;
  padding: 2%;
}

.about h2 {
  mix-blend-mode: normal;
  font-size: calc(1rem + 1.5vw);
  color: #ffffffa2;
  padding: 2%;

}

.about {
  background: linear-gradient(270deg, #368671, #443686, #367586, #9a378c);
  background-size: 800% 800%;

  -webkit-animation: about 30s ease infinite;
  -moz-animation: about 30s ease infinite;
  animation: about 30s ease infinite;
}

@-webkit-keyframes about {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes about {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes about {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.about-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: fadeIn 5s ease-in-out;
}

.about img {
  border-radius: 50%;
  object-fit: cover;
  width: 20vw;
  height: 20vw;
  margin-bottom: 10px;
  padding: 1%;
}

span {
  color: #fff;
  user-select: none;
}


#vantajs {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index:1;
}

@keyframes click {
  0%,
  50%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  75% {
    transform: scale(1.05);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDelay {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }

  40% {
    opacity: 0;
    transform: translateY(-30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.headerbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  background-color: transparent;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeInDelay 3s ease-in-out;
}

.headerbar img {
  height: 40px;
}

.headerbar ul li {
  margin-left: 20px;
  transition: 0.5s;
}

.headerbar img{
border-radius: 50%;
transition: 0.5s;
}

.headerbar img:hover{
  transform: scale(1.4);
  cursor: pointer;
  filter: drop-shadow(0 0 2em #ff64f7be);
}




.footerbar {
  position: absolute;
  align-items: right;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 20px 50px;
  background-color: transparent;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  animation: fadeInDelay 3s ease-in-out;
}

.footerbar ul {
  position: absolute;
  bottom: 20px;
  right: 20px;
  list-style: none;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  bottom: 0;
  right: 0;
}

.footerbar ul li {
  margin-right: 20px;
  right: 0;
  transition: 0.5s;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footerbar ul li a {
  color: #fff;
  transition: 0.5s;
}

.footerbar ul li a:hover {
  color: #e403a0;
  cursor: pointer;
  transform: scale(1.2);
}

.footerbar i{
transition: 0.5s;
}

.footerbar i:hover{
  transform: scale(1.4);
  cursor: pointer;
  filter: drop-shadow(0 0 2em #646cffde);
}


@media (max-width: 768px) {

  .headerbar {
    width: 100%;
    flex-direction: row;
    padding: 20px;
  }

  .footerbar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .footerbar ul {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 0;
    right: 0;
    padding-right: 0;
  }

  
}

@keyframes fall {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(550px);
    opacity: 0;
  }
}

#rain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 20%;
}


/* Nav Menu */

body[data-nav="true"] > main {
  transform: translateY(45vh);
}

nav {
  height: 70vh;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 2vw;
  overflow:hidden;
}

#nav-links {
  gap: clamp(1rem, 0.5vw, 2rem);
  margin-top:clamp(2rem, 2vw, 3rem);
  padding: 0rem clamp(1rem, 2vw, 2rem);
  transform: translateY(-200%) scale(1.5);
  transition: transform 500ms cubic-bezier(.13,.53,.38,.97); 
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 22vw;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
  z-index: 5;
  }

body[data-nav="true"] > nav > #nav-links {
  transform: translateY(0%) scale(1);
}

body:not([data-nav="true"]) > #nav-toggle:hover > .open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] > #nav-toggle > .close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#nav-links > .nav-link:hover{
  transform: scale(1.1);
  cursor: pointer;
}

/* Nav Link Styling */

#nav-links > .nav-link {
  text-decoration: none;
  color: #806ca3;
  font-family: inherit;
  transition: 0.2s ease-in;
  font-size: 1rem;
}

#nav-links h1 {
  background-color: #000;
}



#nav-links > .nav-link > .nav-link-image {
  filter: brightness(40%);
  box-sizing: border-box;
  width: max(15vw, 400px);
  aspect-ratio: 1.8 / 1.2;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
  object-fit: cover;
  max-width: 18vw;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  z-index: 6;
  
}

#nav-links > .nav-link > .nav-link-label {
  position: relative;
  z-index: 1;
  left:1.5vw;
  bottom: 30%;
  width: max(15vw);
  height: max(1vh);
}




@media (max-width: 850px) {
  #nav-links > .nav-link > .nav-link-image {
    width: max(15vw, 400px);
    aspect-ratio: 1.5 / 1;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    object-fit: cover;
    max-width: 40vw;
    transform: scaleX(100%);
  }

  #nav-links > .nav-link > .nav-link-label {
    width: max(40vw);
  }


  #nav-links > .nav-link {
    text-decoration: none;
    color: #806ca3;
    font-family: inherit;
    max-width: 2vw;
    font-size: 0.6rem;
    overflow-x: visible;
  }

  #nav-links {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 40vw;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    }

  body[data-nav="true"] > nav > #nav-links {
    transform: translateY(50%) scale(1);
  }

  body[data-nav="true"] > main {
    transform: translateY(40vh);
  }
}

.scroll-indicator {
  position: fixed;
  width: 40vw;
  height: 2.5vh;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(0,46,255,0.2539216370141807) 0%, rgba(181,0,255,0.25112051656600143) 100%);
  animation: move 10s infinite ease-in-out;
  z-index: 50;
  opacity: 0;
}


